<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuidlsApp</title>

    <link rel="stylesheet" href="~/css/Variable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Component.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <script src="~/js/App.js" asp-append-version="true"></script>
</body>
</html>