@using GuildsApp.Web.Models.Feed
@model FeedPageViewModel

<aside class="right-col">
    <section class="widget">
        <div class="widget__header">Active quests</div>

        <div class="widget__body">
            @foreach (var quest in Model.ActiveQuests)
            {
                <div class="quest-item">
                    <div class="quest-item__icon">☆</div>

                    <div>
                        <div class="quest-item__title">@quest.Title</div>
                        <div class="quest-item__xp">@quest.RewardText · @quest.StatusText</div>
                    </div>
                </div>
            }
        </div>
    </section>
</aside>